@import url('https://fonts.googleapis.com/css2?family=Alice&family=Mrs+Sheppards&display=swap');

body{
    min-height: 100%;
    justify-content: center;
    align-items: center;
    perspective: 500px;
}
.display-1{
    font-family: 'Mrs Sheppards', cursive;
}

.heading h1{
    line-height: 0.5;
    margin-top: 20px;
    letter-spacing: 0.5rem;
}
.heading p{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.4rem;
}

.heading .wedding{
    font-family: 'Alice', serif;
    font-size: 0.6rem;
    letter-spacing: 0.2rem;

}

nav{
    background-color:white;
    font-family: 'Times New Roman', Times, serif;
    
}

nav .nav-item{
    padding:0 10px;
}

.hero-image{
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 1em 1em 2em rgba(0,0,0,0.2);
    transition: transform 0.2s ease-out;
}

.caption{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: .2rem !important;
    font-weight: bolder;
    text-align: center;
}

.pead{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* .angel{
    width:300;
    height: 200px;
}
 */
.gallery div{
    overflow: hidden;
    margin:0px;
}



.gallery img{
    object-fit: cover !;
    height: 230px;
}

#galleries{
    margin-top:50px;
}

.icon-container{
    justify-content: space-between;
}
.gallery-caption{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.7rem;
    font-weight: bold;
}

/* gallery section */
.icon-caption{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3rem;
}

/* Styling siblings on hover */
.gallery-image:not(:hover){
    filter: grayscale(100%);
}

.gallery:hover::after{
    background-color: rgba(#000,0.5);
}

.gallery-image{
    cursor:pointer;
    position: relative;
    transition: 0.3s;
}

.gallery-image ::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000,0);
    transition: 0.3s;
} 
